:root{

--color_1: rgb(167, 89, 17);


}body{
    background-image: url(papelold2.png);
}
h1{
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: center;
color: var(--color_1);

}
p{
    font-size: 25px;


}
img{
float: left;
height: 300px;
margin: 10px;
margin-bottom: 2px;

}
