:root{
    --cor_1: #CB2A27;
    --cor_2: #080409;
    --cor_3: #FFFEFF;
}
body{
    background-color: var(--cor_2);
}
h1{
    text-align: center;
    color: var(--cor_3);
    font-size: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
   